/*
 * @package themecentury
 * @subpackage hamroclass
 * @since 1.0.0
 */
.widget-layout2 .video-sections .section-title{
	-webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
}

body .mfp-image-holder .mfp-close, 
body .mfp-iframe-holder .mfp-close{
	width: 30px;
    height: 30px;
    line-height: 30px;
    text-align:center;
    color:$white_color;
    background:$secondary_color;
    padding:0;
}

.video-sections{
	position:relative;
	padding:90px 0;

	text-align:center;



	&:before{
		content:'';
		position:absolute;
		top:0;
		bottom:0;
		left:0;
		right:0;
		background-color:rgba(15, 35, 58, 0.78);
	}

	.section-wrap{
		position:relative;
	}

	.section-heading{

		margin-bottom:50px;

		.section-sub_title,.section-title{
			color:#fff;
		}
	}
	.section-title{
		text-transform:uppercase;
		fonr-weight:500;
	}

	.video-button{
		a{
			width:80px;
			height:80px;
			border-radius:50%;
			line-height:80px;
			background-color:$primary_color;
			text-align:center;
			display:block;
			margin:0 auto;
			font-size:30px;
			color:#fff;
		}
	}
}
