/*
 * @package themecentury
 * @subpackage hamroclass
 * @since 1.0.0
 */
.hmc-home-top-section{

	.hamroclass_featured_posts{
		@media (max-width: 979px){
			width: 100%;
			margin-top: 5px;
		}
	}

	.hamroclass_featured_posts{
		.hmc-block-wrapper{
			&.layout2{
				@media (max-width: 480px){
					padding: 10px;
				}
			}
		}
	}

	.hamroclass_slider{
		.hmc-single-slide-wrap{
			img{
				@media (max-width: 979px){
					width: 100%
				}
			}
		}
	}
	
}